html {
    height: 100%;
}

body {
    background: url(../img/space.gif) no-repeat center center;
    background-size: 100%;
}

.links {
    text-decoration: none;
    border: 3px solid white;
    box-shadow: 0 0 4px 4px ForestGreen;
    border-radius: 40px;
    font-size: large;
    padding: 3%;
    background: linear-gradient(to right, LimeGreen, green);
    color: white;
    font-variant: small-caps;
    margin: 3% 0 3% 0;
    text-align: center;
}

.links:hover {
    background: linear-gradient(to right, ForestGreen, DarkGreen);
    box-shadow: 0 0 6px 4px ForestGreen;
}

.links b i {
    position: fixed;
    left: 57%;
}

#menu {
    display: flex;
    flex-direction: column;
}

#fieldset {
    margin-top: 10%;
    margin-left: 35%;
    padding: 2% 5% 4% 5%;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    box-shadow: 0 0 10px 4px green;
}

#fieldset h1 {
    text-align: center;
    text-shadow: 0 0 10px white;
    color: white;
    font-size: 50px;
}

.astronaut0 {
    position: relative;
    width: 5%;
    height: 10%;
    content: url(../img/astronaut.png);
}

.astronaut1 {
    position: relative;
    width: 5%;
    height: 10%;
    content: url(../img/1/asto_anim1.png);
}

.astronaut2 {
    position: relative;
    width: 5%;
    height: 10%;
    content: url(../img/1/asto_anim2.png);
}

.astronaut3 {
    position: relative;
    width: 5%;
    height: 10%;
    content: url(../img/1/asto_anim3.png);
}

.transform {
    transform: scale(-1,1);
}

#game {
}